/* Licensed files (from Leslie Lim)*/
    @font-face {
        font-family: SlatePro-Light;
        src: url("fonts/SlatePro-Light.woff") format("woff"), url("fonts/SlatePro-Light.ttf")  format("truetype");
    }
    @font-face {
        font-family: SlatePro;
        src: url("fonts/SlatePro.woff") format("woff"), url("fonts/SlatePro.ttf")  format("truetype");
    }
    @font-face {
        font-family: SlatePro-Medium;
        src: url("fonts/SlatePro-Medium.woff") format("woff"), url("fonts/SlatePro-Medium.ttf")  format("truetype");
    }

/* Google Fonts */

    @font-face {
        font-family: OpenSans;
        src: url("fonts/OpenSans-Regular.ttf")  format("truetype");
    }
    @font-face {
        font-family: OpenSans-Bold;
        src: url("fonts/OpenSans-Bold.ttf")  format("truetype");
    }
    @font-face {
        font-family: WorkSans-Light;
        src: url("fonts/WorkSans-Light.ttf")  format("truetype");
    }
    @font-face {
        font-family: WorkSans-Medium;
        src: url("fonts/WorkSans-Medium.ttf")  format("truetype");
    }
    @font-face {
        font-family: WorkSans;
        src: url("fonts/WorkSans-Regular.ttf")  format("truetype");
    }
    @font-face {
        font-family: Rubik;
        src: url("fonts/Rubik-Regular.ttf")  format("truetype");
    }

/* Class References */
p.owac { font-size:1.2em; font-family: 'Arimo', sans-serif; color: #919da1; text-align: right;}
.osans { font-family: 'OpenSans', sans-serif; }
.roboto { font-family: 'Roboto', sans-serif; }
.roboto.condensed { font-family: 'Roboto Condensed', sans-serif; }
.ow_main { font-family: 'Arimo', sans-serif; }
.work_sans, .work-sans, .worksans { font-family: 'WorkSans', sans-serif; }