/* File owner: Bryce Chamberlain */

/* Tabset selectors: Geographic, Performance, etc.. */
/* inactive/default */ .tabbable > .nav > li > a { border-radius: 0px; background-color: #00A8C8; color: white; border: none; font-family: 'SlatePro-Medium'; letter-spacing:0.6px; font-size: 1.2em; transition: background 0.2s; margin: 0; }
/* hover */ .tabbable > .nav > li > a:hover { border-radius: 0px; background-color: #006d9e; color: white; border: none; margin: 0; }
/* active */ .tabbable > .nav > li.active > a, .tabbable > .nav > li.active > a:focus { border: none; border-radius: 0px; background-color: #006d9e; color:white; margin: 0; }

/* Launch Pad */ 
    .segment_metric_box { 
        margin: 5px; box-shadow: 0 1px 1px rgba(0,0,0,.1); background-color: White; 
        padding: 5px; width: 240px; 
    }
    .segment_metric_box .value { font-size: 12pt; font-family: "Rubik"; font-weight: bold;  }
    .segment_metric_box .segment { font-size: 9pt; }
    .segment_metric_box .repCnt, .segment_metric_box > .variation  { font-size: 9pt; }
    .segment_metric_box .variable { 
        font-size: 11pt; background-color: #F8F8F8; display:inline-block; color: White; padding: 0; padding-left: 3px; padding-right: 3px; 
    }
    .segment_metric_box:hover { cursor: pointer; }
    .segment_metric_box p { margin: 0; padding: 0; }
    .segment_metric_box .metric { font-size: 11pt; }
    ul.topclaims > li { /* height: 329px; */ padding: 10px;  } /* height is below + 29px */
    /* ul.topclaims > li .highcharts-container { height: 290px; } */
    ul.topclaims > li > h1 { height: 30px; padding-bottom: 4px; padding-top: 7px; padding-left: 10px; width: 190px; }
     .chart_container.lp-top3 { width: 330px; /* height: 305px; */ margin-top: 0px !important; }

/* Cost Driver Analysis */
    #button_cda_pct_div{ margin: 0; padding: 0; margin-top: 20px; }
    #button_cda_pct{ padding: 5px; }

/* Trend > Activity by Period */
    #byPeriod_incChangeTable td { padding: 3px; }

/* Body (overall defaults) */

    body { font-size: 8pt; font-family: 'OpenSans'; background-color: #F8F8F8; }
    label, .btn-default { font-weight: normal; color: #707c80 } 
    ul { list-style-type: none; margin:0; padding: 0; } /* Removes bullets when using ul to list charts. */
    li { vertical-align: top; }
    .row li { display: inline-block; }
    .col-sm-12 { padding: 0; }
    div{ height:auto; }
    p { font-family: 'WorkSans', sans-serif; font-size: 1.15em; color: #707c80; }
    div.shrink { transform:scale(0.3) }

/* Disable error messages in UI */
    .shiny-output-error { visibility: hidden; }
    .shiny-output-error:before { visibility: hidden; }

/* Sidebar */

    /* Filter */
        /* Labels on input controls, including filters. */
        .sidebar > ul > li > .shiny-input-container > label { 
            font-family: 'SlatePro'; font-weight:normal; width: 100%; background-color: #00A8C8; color: White; margin:0; padding: 5px; padding-left:5px; font-size: 1.2em; 
            letter-spacing: 0.8px;
        }
        /* Numeric inputs */
        #number_filters_div .form-group.shiny-input-container { padding: 5px; }
        
        /* Filters' selected values space */
        .chart_container .selectize-control > .selectize-input { border-radius: 0; }
    
        /* Include/exclude button */
        #sidebarInputs_div .shiny-input-container { padding-right: 0; }
        #sidebarInputs_div .inex button { margin: 0 !important; padding: 0px; margin-top: 39px !important; }
        .inex button, #byPeriod_incChangeView { color: #dadedf; border-style: none; background-color: transparent; vertical-align: middle; }
        .inex button.selected, #byPeriod_incChangeView.selected { color: #707c80; }

    /* Options space */ 
        .form-control { padding: 5px; color:#707c80; height:auto; font-size: 1.1em;  font-family: 'OpenSans';  } 
        select.form-control { padding: 0; }
        .shiny-input-container:not(.shiny-input-container-inline) { width: auto; }
        .main-sidebar { width: 190px; z-index: 1; overflow-y: auto; } /* width must match margin-left on .content-wrapper */
        .content-wrapper { margin-left: 190px; }
        .logo{ z-index:3; }
        #clearButton, #applyButton { padding: 5px; margin: 0; font-size: 1.1em; text-align: left; }


/* Misc overrides */

    .skin-blue .main-sidebar {background-color:#F8F8F8;} 
    /* .shiny-output-error { visibility: hidden; }  /*turns off any error messages from popping up in the UI */
    .shiny-output-error:before {visibility: hidden; }

/* Geographic */
    #minReportedCount_div .form-group.shiny-input-container { display: inline-block;  }

/* Main Content Wrapper */

    .navbar-static-top { z-index: 2; }
    .main-header { z-index: 2; }
    .content-wrapper, .right-side { background-color: #F8F8F8; position: relative; top: -25px; /*z-index: 9999;*/}
    .wrapper { overflow-x: visible; overflow-y: visible; background-color: transparent !important; } /* Removes second scrollbar on some pages. */
    

    /* hide/expand button */ 
    .skin-blue .main-header .navbar { background-color: #F8F8F8; }
    .skin-blue .main-header .navbar .sidebar-toggle { color: #00A8C8; display: none; }
    .skin-blue .main-header .navbar .sidebar-toggle:hover { background-color: #f8f8f8; color: #00A8C8;  }

    /*Main tab box */
    .box.box-solid.box-primary > .box-header { background-color: #acb6b9; } /* label at top of tab */
    .box.box-solid.box-primary { border-color: #006d9e; border-width:1.5px; }

/* Chart boxes */

    .no-data-alert{ width: 100%; margin-top: 10px; padding: 15px; background-color:#f8f8f8; }

    /* Default CSS for large screens. */
    .save-div { padding:10px; background-color: White; text-align: left; height: 345px; }

    /* standard chart sizes: 3 blocks per row; standard size. */
    .chart_container { 
        width: 490px; padding: 0px; display: inline-block; background-color: White; box-shadow: 2px 2px 2px 1px #e6e6e6;
        margin-left: 15px; margin-top: 10px; margin-bottom: 10px; margin-right: 5px; background-color: White;
        position: relative; /* this allows us to set inside elements to bottom-right: see .icon_save_container */
        border: none !important;   /* Removes border added by JQuery UI. */
        overflow: auto; overflow-y: hidden; max-width: calc( 100% - 15px );
    } 
    .chart_container .highchart { width: 480px; }

    /* 2 blocks per row; 1.5x the size + 1/2 margin of 30px */
    .chart_container.x2 { width:765px; } .chart_container.x2 .highchart { width: 745px; }

    /* 2 blocks in a 3-block-per-row; double the size + 1 margin of 30px */ 
    .chart_container.x3 { width: 1002px; } .chart_container.x3 .highchart { width: 982px; }

    /* 1 block per row; triple the size + 2 margins of 30px */
    .chart_container.x4 { width: calc( 100% - 25px ); } .chart_container.x4 .highchart { width: calc( 100% - 45px );  }

    /* For laptop screen. 
    @media screen and (max-width: 1800px) {

        /* On small screen, x2 becomes x1/default 
        .chart_container, .chart_container.x2 {width: 490px; } .chart_container.x3 .highchart, .chart_container.x2 .highchart { width: 480px; }
        .chart_container.x3 { width: calc( 100% - 25px ); } .chart_container.x3 .highchart {width: calc( 100% - 45px );  }
    }*/
    
    /* Photo icon */
    .icon_save{ color: #acb6b9; float:right; cursor:pointer; vertical-align: text-bottom; }
    .icon_save_container{ position: absolute; bottom: 0px; right:12px; color: #919da1; font-size: 8pt; font-family: 'WorkSans', sans-serif; }

/* Table boxes */
    .table_container{ 
        padding: 10px; margin: 0px; margin-top:10px; background-color: White; 
    }
    /* font-family: 'WorkSans'; font-size: 1.12em; letter-spacing: 0.5px; */
    .table_container th { font-family: 'Rubik'; font-weight: normal !important; letter-spacing: 0.5px; font-size: 1.1em; }
    .table_container td { font-size: 1.1em; color:#37424A; }
    .table_container .btn, .table_container label { font-family: 'Arial'; }

    /* total rows/columns */
    .table_container .total { background-color: #bfbfbf; color: White; border-top: none !important; font-weight: bold !important; letter-spacing: .5px; font-size: 9pt; }

/* Content pages. */

    section.content { padding: 0; }
    div.row > div { margin-top:15px; margin-left: 30px; width: calc( 100% - 60px ); } /* places tabs correctly relative to the sidebar. */
    .skin-blue .wrapper { background-color: #F8F8F8; } /* This color shows under the client logo when you hide the filter menu. */
    .container-fluid{ text-align: left; padding: 0; }
    .nav-tabs-custom { padding: 0px; background-color: #F8F8F8; margin: 0px; box-shadow:none; }
    .nav.nav-tabs {  color: #dadedf; letter-spacing: 0.4px; font-weight:normal;  font-size: 1.05em; font-family: 'Rubik';  }
    .nav-tabs-custom > .tab-content, .nav-tabs-custom > .nav-tabs > li.active > a { background-color: #F8F8F8; color: #555f61; font-weight:normal; }
    .nav-tabs-custom > div.tab-content { padding: 0; }
    .nav-tabs { border-bottom:none}
    div.nav-tabs-custom > ul.nav-tabs { background-color: #e6e6e6; } /* dark background on tab tops. */
    div.tab-content > div.tab-pane { border:solid 1px #006d9e; }
    div.tab-content > div.tab-pane div.tab-pane { border:none; }
    div.form-group { margin-bottom: 0px; } /* remove extra spaces below selectors */

    /* Highcharts  */
    .dgrey{ color: #555f61; }
    .box  { border-color:#dadedf; border-style: solid; border-width: 1px; margin-bottom: 0px; }
    .highcharts-container { display:block }
    /*.highcharts-legend-item{ color: White !important; stroke: White !important; fill: White !important; font-size: 1.1em; }*/

    /* Metric selector & chart label */
    .save-div .selectize-input { 
        padding:5px; margin:0; min-height:20px; width: 100%; padding-right: 35px; padding-left:10px; border-radius: 4px;
    }
    .save-div p.selectize-input { padding-right: 10px; }
    .selectize-control.single .no-after.selectize-input:after { content: none; }

    /* Chart titles */
    .save-div .selectize-input.full { text-align: left; display: inline-block;   }
    .save-div .selectize-input.items.full { padding-right: 30px; text-align:left;  }
    .save-div .selectize-input.full, h1 {
         border:none; font-size: 1.3em;
         letter-spacing: 0.7px;  width:auto; min-width: 210px; 
         color:#006d9e; background-color:White; background-color: #d4f1f7; font-family: SlatePro; padding: 5px; margin: 0px;
         padding-left: 10px; padding-right: 10px; border-radius: 0; margin-bottom: 4px;         
    }
    .selectize-input.focus { border-color: #0095b3; box-shadow: none;  }
    .selectize-control { margin-bottom: 0; }

    /* special fix for performance > % incurred change */
    #byPeriod_inc_chng_saveDiv .selectize-input.full { min-width: 1px !important; }

    /* Pivot tables. */
    .pivot_selector .item { padding-right: 25px; min-width: 100px; }

    /* Custom */
    .helper_subscript{ 
        color: #75858a; font-size: 8.5pt; font-family: 'WorkSans', sans-serif; margin-bottom: 0; 
    }
    .filter-note, .filter-note-prevention, .lp-filternote-comparedtoprior { margin: 0; padding: 0; height: 16px; }
    .exposure-label { height: 18px; }

/* Help pop-ups */
    .panel-primary { border-radius:0px; border-color: #acb6b9; box-shadow: none; }
    .panel-primary > .panel-heading { border: none; border-radius: 0px; background-color: #acb6b9;  }

/* Other overrides */
    .navbar { background-color: #F8F8F8; }
    .skin-blue .main-header .logo, .skin-blue .main-header .logo:hover { background-color: #F8F8F8; }
    .tab-pane { min-height: 1100px; } /* Set starting height to prevent things moving around when it grows, and to give plenty of room for sidebars to not get cut off */
    .box { border-radius: 0; border-top: none; box-shadow: none; border: none;}  /* We don't want the thick top border, it's distracting. Also the curved border is distracting and out of style. */
    .box-primary{ background-color: rgb(253, 253, 253); }

    #g_infoLink { color: #fff;  float: right; }
    #byPeriod_infoLink { color: #fff;  float: right; }
    #LP_infoLink { color: #fff;  float: right; }
    #A_info { color: #fff;  float: right; }         
    #filterLink { margin:0; }            

    img { width:100%; max-width: 100%;  max-height: 100%; }
    .lgrey{ color:#dadedf; }
    .grey { color: #707c80; }
    .dgrey{ color: #555f61; }
    .bold {font-weight: bold;}
    .not_bold {font-weight:normal; }
    .tlg { font-size: 1.5em; } /* text large */
    .tmd { font-size: 1em; } /* text medium */
    .tsm { font-size: 0.85em; }
    .italic { font-style: italic; }
    .bg_white { background-color: white; }
    .inline { display: inline-block; }
    .middle{ height:100%; vertical-align: middle; }
    .center { text-align: center; }
    .right{ text-align: right; }
    .left{ text-align: left; }
    .top{ vertical-align: top; }
    .m10 { margin: 10px; }
    .m5 { margin: 5px; }
    
/* Colors */
.blue { color: #00A8C8; } .bg_blue { background-color: #00A8C8;  }
.dblue { color: #006d9e; } .bg_dblue { background-color: #006d9e;  }
