/* Question mark */
.popup-note {
    background-color: #dadedf; color: White; border-radius: 8px; margin: 3px; padding: 1px; text-align: center; font-family: 'WorkSans'; width: 16px; height: 16px; 
    font-size: 8pt; cursor: default; display: inline-block; position: relative; z-index: 99; vertical-align: bottom; margin-bottom: 10px;
}

/* Custom formatting on the tooltip.*/
.ui-tooltip {  z-index: 10000; color: #6a777c; font-size: 12px; font-family: 'OpenSans';  }